<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat box</title>
    <script src="tailwind.js"></script> 
    <script src="vue.global.js"></script>
    <script src="axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="ionicons.min.css">
    <link rel="stylesheet" href="icomoon.css">
</head>
<body>
    <button id="iconButton" class="position-fixed btn btn-primary d-flex align-items-center justify-content-center"
    style="right: 40px; bottom: 45px; width: 50px; height: 50px; border-radius: 50%;"
    onclick="toggleIcon()">
        <i class="icon-chat_bubble text-white" style="font-size: 1.3rem;"></i>
    </button>
    <div id="showChatbot" class="d-none">
        <main id="app" class="position-fixed bg-dark border-0"
        style="bottom: 130px; right: 40px; width: 420px; border-radius: 15px;">
            <div class="shadow rounded-mt ">
                <header class="bg-primary text-center text-white pt-2 rounded-top-3" style="border-top-right-radius: 15px;border-top-left-radius:15px;">
                    <h2>Chatbox</h2>
                </header>
                <ul class="list-unstyled overflow-hidden"
                style="height: 510px; padding: 15px 20px 70px; overflow-y: auto;">
                    <li v-for="message in messages" :key="message.id"
                    class="d-flex mb-3"
                    :class="{ 'justify-content-end': message.role === 'user', 'justify-content-start': message.role === 'assistant' }">
                        <div v-if="message.role === 'assistant'"
                        class="flex-shrink-0 me-3">
                            <img class="rounded-circle icon icon-chat"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTagONv1r-0HPnlnWClF12amS_KdrPX83zlhcXHyek&s"
                            width="32" height="32" alt="ChatGPT Icon">
                        </div>
                        <div class="flex-grow-1">
                            <p class="m-0 px-3 py-2 rounded"
                               :class="message.role === 'assistant' ? 'bg-primary text-dark' : 'bg-primary text-white'" v-html="message.content">
                            </p>
                        </div>
                    </li>
                </ul>
                <form @submit.prevent="sendMessage" class="border-top">
                    <div class="input-group ">
                        <input type="text" v-model="userInput"
                               placeholder="Type your message here..."
                               class="form-control ml-4">
                        <button type="submit"class="btn btn-primary text-black " style=" border-bottom-right-radius:30%;">
                            <i class="icon icon-send" style="font-size:large;"></i>
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <script>
        const { createApp, ref } = Vue;
        const OPEN_AI_ENDPOINT = "http://localhost:8000/v1";
        createApp({
            setup() {
                const userInput = ref("");
                const messages = ref([
                    {
                        role: "system",
                        content:
                            "You're a helpful chat bot. Answer short and concise in 150 tokens only.",
                    },
                ]);
                const isLoading = ref(false);

                const messageClasses = (role) => ({
                    "text-right justify-end": role === "user",
                    "text-left justify-start": role === "assistanHt",
                });

                async function sendMessage() {
                    if (!userInput.value.trim()) return;
                    messages.value.push({
                        role: "user",
                        content: userInput.value,
                    });

                    try {
                        isLoading.value = true;
                        userInput.value = "";

                        // Send API request to OpenAI endpoint
                        const response = await axios.post(
                            `${OPEN_AI_ENDPOINT}/chat/completions`,
                            {
                                // model: 'gpt-3.5-turbo',
                                model: "gpt-4-1106-preview",
                                messages: messages.value,
                                temperature: 0.9,
                                max_tokens: 150,
                            },
                        );
                        // Append ChatGPT response
                        messages.value.push({
                            role: "assistant",
                            content: response.data.choices[0].message.content,
                        });
                    } catch (error) {
                        console.error(
                            "There was an error with the API request",
                            error,
                        );
                    } finally {
                        isLoading.value = false;
                    }
                }
                return {
                    userInput,
                    messages,
                    messageClasses,
                    sendMessage,
                    isLoading,
                };
            },
        }).mount("#app");
        function toggleIcon() {
            const button = document.getElementById("iconButton");
            const icon = button.querySelector("i");
            const showChatbot = document.getElementById("showChatbot");
        
            if (icon.classList.contains("icon-chat_bubble")) {
                icon.classList.remove("icon-chat_bubble");
                icon.classList.add("icon-close");
                showChatbot.classList.remove("d-none");
            } else {
                icon.classList.remove("icon-close");
                icon.classList.add("icon-chat_bubble");
                showChatbot.classList.add("d-none");
            }
        }
    </script>
</body>
</html>